.flex {
  display: flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}

.section {
  padding-block: 8rem;
}

.section-title {
  font-size: $bigger-font-size;
  text-align: center;
  margin-bottom: 3rem;

  span {
    color: $color-primary;
  }
}